<div *ngIf="dataSource$ | async as  details;">
<mat-card class="card">
<mat-card-header>
    <mat-card-title>Node {{details.nodeId}}</mat-card-title>
    <mat-card-subtitle>
        Index Id: {{details.indexId}}
        <span class="uri-link">
            , Uri:<a href="{{details.uri}}"><i >{{details.uri}}</i></a>
        </span>
    </mat-card-subtitle>
</mat-card-header>
    <mat-card-content>
        <div *ngIf="coins$ | async as  coins;">
              <div class="box">
    <!--    <div class="coin"><span>BCC</span></div>-->
    <hr>
        <div class="row">{{coins}} &nbsp;
        <div class="small-coin"><span>BCC</span></div>
        
</div></div></div>
    </mat-card-content>   
   
</mat-card>
</div>
