<div *ngIf="dataSource$ | async as  details;">
<mat-card class="card">
<mat-card-header>
    <mat-card-title>Node {{details.nodeId}}</mat-card-title>
    <mat-card-subtitle>
        Index Id: {{details.indexId}}
        <span class="uri-link">
            , Uri:<a href="{{details.Uri}}"><i >{{details.Uri}}</i></a>
        </span>
    </mat-card-subtitle>
</mat-card-header>
    <mat-card-content>
        <div class="box">
    <!--    <div class="coin"><span>BCC</span></div>-->
    <hr>
        <div class="row">coins &nbsp;
        <div class="small-coin"><span>BCC</span></div>
        
</div></div>
    </mat-card-content>   
    <mat-card-actions>
        <button mat-button class="btn" >Transfer</button>
    </mat-card-actions>
</mat-card>
</div>