<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/">Home</a>
      <a mat-list-item href="/#/inbox">inbox</a>
      <a mat-list-item href="/#/send">send</a>
      <a mat-list-item href="/#/allMessages">all Messages</a>
      <a mat-list-item href="/#/transfer">transfer</a>
      <a mat-list-item href="/#/sendMessage">send</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>BCC</span>
    
      <span *ngIf="dataSource$ | async as  clients;" >
<div style="display: flex; align-items: center; justify-content: flex-end;">
            @for(c of clients ; track c){
        <button (click)="openInNewTab(c.uri)"> go to  node  {{c.indexId}} </button>
            }
</div>
      </span>
    
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
