<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
<mat-accordion>
  <!-- Trsanction Message Overview -->
    <!-- Home -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Home
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item href="/">Home</a>
    </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Message Overview
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item href="/#/inbox">Inbox</a>
    <a mat-list-item href="/#/send">Send</a>
    <a mat-list-item href="/#/allMessages">All Messages</a>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transaction Coins Overview
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item href="/#/transactions">Transactions </a>

  </mat-expansion-panel>
  <!-- Transfer forms -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Forms
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item href="/#/transfer">Transfer</a>
    <a mat-list-item href="/#/sendMessage">Send</a>
    <a mat-list-item  href="/#/changeStake">Change Stake</a>

  </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
      Fetch data
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item href="/#/playground">Playground</a>
    </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Nodes
              </mat-panel-title>
              </mat-expansion-panel-header>
    <div *ngIf="dataSource$ | async as  clients;" >
    
        @for(c of clients ; track c){
      <mat-list-item (click)="openInNewTab(c.uriPublic)"   mat-list-item > go to node {{c.indexId}} </mat-list-item>
        }
   
    </div>
      </mat-expansion-panel>
</mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="width:100%">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <div style="width:20% ; display: flex ;align-items: center;"><div class="small-coin"><span>BCC</span></div> BLOCK CHAT</div>
    
    
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
