

        .full-height-with-overflow {
            height: 100%;
            width:100%;
            overflow-y: auto;
            /* Change to 'scroll' if you want a scrollbar always visible */
        }