<table mat-table [dataSource]="data.transactions">

    <!-- Transaction ID  -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.TransactionId}} </td>
    </ng-container>
    <ng-container matColumnDef="From">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
        <td mat-cell *matCellDef="let row"> {{row.From}} </td>
    </ng-container>
    <ng-container matColumnDef="To">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
        <td mat-cell *matCellDef="let row"> {{row.To}} </td>
    </ng-container>
        <ng-container matColumnDef="Nonce">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nonce </th>
            <td mat-cell *matCellDef="let row"> {{row.Nonce}} </td>
        </ng-container>
    <ng-container matColumnDef="Coins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coins </th>
        <td mat-cell *matCellDef="let row">
             @if(row.To === data.nodeDetails.indexId && row.From !== data.nodeDetails.indexId){
            <div style="display: flex;">
                <div class="small-coin"><span>BCC</span></div>&nbsp;
                <span style="color: green">{{row.Coins}}</span>
            </div>
             } @else if(row.To === data.nodeDetails.indexId && row.From === data.nodeDetails.indexId){
                <div style="display: flex;">
            <div class="small-coin"><span>BCC</span></div>&nbsp;
            <span style="color: orange">{{row.Coins}}</span>
                </div>
            } @else if(row.From === data.nodeDetails.indexId){
                <div style="display: flex;">
                <div class="small-coin"><span>BCC</span></div>&nbsp;
                <span style="color: red">{{row.Coins}}</span>
           
            </div>
            }
             @else{
            <div style="display: flex;">
        <div class="small-coin"><span>BCC</span></div>&nbsp;
        <span >{{row.Coins}}</span>
            </div>
         }
            </td>
    </ng-container>
        <ng-container matColumnDef="Reason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
            <td mat-cell *matCellDef="let row"> {{row.Reason}} </td>
        </ng-container>
    <ng-container matColumnDef="SendTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Send Time </th>
        <td mat-cell *matCellDef="let row"> {{row.SendTime | unixDateFormat }} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>